#grueneext-short-code-message {
    background: #fcfcfc;
    border-left: 4px solid #dc3232;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    margin: 5px 15px 2px;
    padding: 10px 12px;
    display: none;
    width: calc(100% - 99px);
}

#grueneext-short-code-button input[name='grueneext-button-link'],
#grueneext-select-hide_n_show input[name='grueneext-hide_n_show-display'] {
    width: calc(100% - 41px);
}